{% extends 'DgwebBundle:Panel:layoutpanel.html.twig' %}
{% block titulo %}Crear Categoria Portafolio{% endblock %}

{% block contenido -%}
    {#<h1>Categoriaport creation</h1>#}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_categoriaport') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
