{% extends 'DgwebBundle:Panel:layoutpanel.html.twig' %}
{% block titulo %}Crear Categoria Portafolio{% endblock %}

{% block contenido -%}
    {#<h1>Categoriaport creation</h1>#}
    
     <div class="container" style="background-color: #F6F6F6; padding-top:10px; padding-bottom: 1px;">

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_categoriaport') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
