    <div style="padding: 20px 20px;">
    <div style="padding: 20px 20px;">
      <h2 class="text-center" style="color: #262626;"><strong>INSTAGRAM</strong></h2>
      <h4 class="text-center" style="color: #B3B3B3;">Our workplace, our dogs and other stuff.</h4>
    </div>
    <!-- SnapWidget -->
    <div class="container">
    <script src="http://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="http://snapwidget.com/in/?u=ZGlnaXRhbGl0eWdhcmFnZXxpbnwxMjV8NXwyfHxub3w1fG5vbmV8b25TdGFydHxub3x5ZXM=&ve=071115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    </div>
    </div>
