<div class="container-fluid" style="background-color: #FFD24C; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #09F; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #FFD24C; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #09F; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #FFD24C; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #09F; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
