    <!-- Domain-agnostic -->
    <div class="container">
      <h2 class="text-left" style="color: #262626;"><strong>AREAS WE HAVE WORKED ON</strong></h2>
      <h4 class="text-left" style="color: #B3B3B3;">Yes we are extremely cool.</h4>
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-2 text-center">
          <span>
            Image</br>
            Doctors
          </span>
        </div>
        <div class="col-md-2 text-center">
          <span>
            Image</br>
            Events
          </span>
        </div>
        <div class="col-md-2 text-center">
          <span>
            Image</br>
            E-Commerce
          </span>
        </div>
        <div class="col-md-2 text-center">
          <span>
            Image</br>
            Education
          </span>
        </div>
        <div class="col-md-2 text-center">
          <span>
            Image</br>
            Aestethics
          </span>
        </div>
        <div class="col-md-2 text-center">
          <span>
            Image</br>
            Beard Products
          </span>
        </div>
      </div>
    </div>