<!-- Barra de Navegacion -->
    <div data-sr='enter top'><?php include ('recursos/includes/navbar.php') ?></div>
    <hr style="margin-bottom: 20px;" class="hidden-xs hidden-sm">

    <div class="container">
      <div data-sr='wait 0.1s, ease-in 50px'><h2 class="text-center" style="color: #B3B3B3;">WE MAKE <strong style="color: #262626;">COOL</strong> STUFF</h2></div>
      <div data-sr='wait 0.3s, ease-in 50px'><h4 class="text-center" style="color: #262626;">And we <strong style="color: #262626;">BRAG</strong> about it</h4></div>
      <div class="row">
          <div class="col-md-2 text-center"><a href="#">asdas</a></div>
          <div class="col-md-2 text-center"><a href="#">asdas</a></div>
          <div class="col-md-2 text-center"><a href="#">asdas</a></div>
          <div class="col-md-2 text-center"><a href="#">asdas</a></div>
          <div class="col-md-2 text-center"><a href="#">asdas</a></div>
          <div class="col-md-2 text-center"><a href="#">asdas</a></div>
          
      </div>  
    
    <div class="row">
      <!-- COMIEZO DE ITEMS DE PORTAFOLIO -->
      <!-- ITEM 1 -->
      <div class="col-md-3">
        <div class="portfolio">
          <img src="http://placehold.it/300x190" style="max-width: 100%;">
          <p style="color: #262626; margin-top: 10px;"><strong>BEARD ATTITUDE</strong></p>
          <p style="line-height: 0px; color: #B3B3B3;">WEB DESIGN</p>
        </div>
      </div> <!-- ITEM 1 -->
      <!-- ITEM 2 -->
      <div class="col-md-3">
        <div class="portfolio">
          <img src="http://placehold.it/300x190" style="max-width: 100%;">
          <p style="color: #262626; margin-top: 10px;"><strong>LA PLUS BELLE</strong></p>
          <p style="line-height: 0px; color: #B3B3B3;">WEB DESIGN</p>
        </div>
      </div> <!-- ITEM 2 -->
      <!-- ITEM 3 -->
      <div class="col-md-3">
        <div class="portfolio">
          <img src="http://placehold.it/300x190" style="max-width: 100%;">
          <p style="color: #262626; margin-top: 10px;"><strong>SONODIGEST</strong></p>
          <p style="line-height: 0px; color: #B3B3B3;">WEB DESIGN</p>
        </div>
      </div> <!-- ITEM 3 -->
      <!-- ITEM 45 -->
      <div class="col-md-3">
        <div class="portfolio">
          <img src="http://placehold.it/300x190" style="max-width: 100%;">
          <p style="color: #262626; margin-top: 10px;"><strong>X ENTERTAINMENT</strong></p>
          <p style="line-height: 0px; color: #B3B3B3;">WEB APPLICATION</p>
        </div>
      </div> <!-- ITEM 4 -->
      <!-- ITEM 5 -->
      <div class="col-md-3">
        <div class="portfolio">
          <img src="http://placehold.it/300x190" style="max-width: 100%;">
          <p style="color: #262626; margin-top: 10px;"><strong>LAYDOUT INDUSTRIES</strong></p>
          <p style="line-height: 0px; color: #B3B3B3;">BRANDING</p>
        </div>
      </div> <!-- ITEM 5 -->
      <!-- ITEM 6 -->
      <div class="col-md-3">
        <div class="portfolio">
          <img src="http://placehold.it/300x190" style="max-width: 100%;">
          <p style="color: #262626; margin-top: 10px;"><strong>HUELLAS</strong></p>
          <p style="line-height: 0px; color: #B3B3B3;">COMMUNICATIONS</p>
        </div>
      </div> <!-- ITEM 6 -->
      <!-- ITEM 7 -->
      <div class="col-md-3">
        <div class="portfolio">
          <img src="http://placehold.it/300x190" style="max-width: 100%;">
          <p style="color: #262626; margin-top: 10px;"><strong>BEARD ATTITUDE</strong></p>
          <p style="line-height: 0px; color: #B3B3B3;">PACKAGING</p>
        </div>
      </div> <!-- ITEM 7 -->
      <!-- ITEM 8 -->
      <div class="col-md-3">
        <div class="portfolio">
          <img src="http://placehold.it/300x190" style="max-width: 100%;">
          <p style="color: #262626; margin-top: 10px;"><strong>HUELLAS</strong></p>
          <p style="line-height: 0px; color: #B3B3B3;">BRANDING</p>
        </div>
      </div> <!-- ITEM 8 -->
      <!-- FIN DE PORTFALOLIO -->
    </div>

    <div style="height: 100px;"></div>