<!-- SECCION DERECHA -->
<div class="col-md-4">
    <div class="row">
        <div class="col-md-12">
            <h3>CATEGORIES</h3>
            <ul class="list-group" style="margin-top: 30px;">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <h3 style="margin-left: 13px; margin-bottom: 10px;">RECENT POSTS</h3>
        <!-- POST PEQUENO AL LADO DERECHO -->
        <a href="#" style="outline: 0;">
            <div style="margin-top: 20px;">
                <div class="col-md-4">
                    <img src="http://placehold.it/900x500" style="max-width: 100%; width: 100%;">
                </div>
                <div class="col-md-8">
                    <p><strong>HEADING HERE OF BLOG..</strong></p>
                    <p style="line-height: 10px;"><em>10 October 2015</em></p>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
        <!-- FIN POST PEQUENO AL LADO DERECHO -->
        <!-- POST PEQUENO AL LADO DERECHO -->
        <a href="#" style="outline: 0;">
            <div style="margin-top: 20px;">
                <div class="col-md-4">
                    <img src="http://placehold.it/900x500" style="max-width: 100%; width: 100%;">
                </div>
                <div class="col-md-8">
                    <p><strong>HEADING HERE OF BLOG..</strong></p>
                    <p style="line-height: 10px;"><em>10 October 2015</em></p>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
        <!-- FIN POST PEQUENO AL LADO DERECHO -->
        <!-- POST PEQUENO AL LADO DERECHO -->
        <a href="#" style="outline: 0;">
            <div style="margin-top: 20px;">
                <div class="col-md-4">
                    <img src="http://placehold.it/900x500" style="max-width: 100%; width: 100%;">
                </div>
                <div class="col-md-8">
                    <p><strong>HEADING HERE OF BLOG..</strong></p>
                    <p style="line-height: 10px;"><em>10 October 2015</em></p>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
        <!-- FIN POST PEQUENO AL LADO DERECHO -->
        <!-- POST PEQUENO AL LADO DERECHO -->
        <a href="#" style="outline: 0;">
            <div style="margin-top: 20px;">
                <div class="col-md-4">
                    <img src="http://placehold.it/900x500" style="max-width: 100%; width: 100%;">
                </div>
                <div class="col-md-8">
                    <p><strong>HEADING HERE OF BLOG..</strong></p>
                    <p style="line-height: 10px;"><em>10 October 2015</em></p>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
        <!-- FIN POST PEQUENO AL LADO DERECHO -->
    </div>
</div>
</div>
</div>
