<!-- BLOG SECCION DE IZQUIERDA Y DERECHA -->
<div class="container">
    <div class="row">

        <!-- SECCION IZQUIERDA -->
        <div class="col-md-8">
            <h3>BLOG POSTS</h3>
            <!-- ITEM DE BLOG -->
            <div class="blog">
                <img src="http://placehold.it/900x300" style="max-width: 100%; width: 100%;">
                <div class="well">
                    <h2 style="color: #262626; padding: 0px 10px 0px;">ITS A NEW GENERATION BLOG</h2>
                    <p style="padding: 0px 10px 0px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi....</p>
                    <div style="padding: 0px 10px 10px;">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> by $User$ | <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> October 9 '15 | <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> $Category$
                        | <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 51256
                    </div>
                    <div class="btn-normal pull-right">READ MORE</div>
                    <!-- DIV SOLO PARA DAR ESPACIO --><div style="height: 25px;"></div> <!-- DIV SOLO PARA DAR ESPACIO -->
                </div>
            </div> <!-- ITEM DE BLOG -->
            <!-- ITEM DE BLOG -->
            <div class="blog">
                <img src="http://placehold.it/900x300" style="max-width: 100%; width: 100%;">
                <div class="well">
                    <h2 style="color: #262626; padding: 0px 10px 0px;">ITS A NEW GENERATION BLOG</h2>
                    <p style="padding: 0px 10px 0px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi....</p>
                    <div style="padding: 0px 10px 10px;">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> by $User$ | <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> October 9 '15 | <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> $Category$
                        | <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 51256
                    </div>
                    <div class="btn-normal pull-right">READ MORE</div>
                    <!-- DIV SOLO PARA DAR ESPACIO --><div style="height: 25px;"></div> <!-- DIV SOLO PARA DAR ESPACIO -->
                </div>
            </div> <!-- ITEM DE BLOG -->
            <!-- ITEM DE BLOG -->
            <div class="blog">
                <img src="http://placehold.it/900x300" style="max-width: 100%; width: 100%;">
                <div class="well">
                    <h2 style="color: #262626; padding: 0px 10px 0px;">ITS A NEW GENERATION BLOG</h2>
                    <p style="padding: 0px 10px 0px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi....</p>
                    <div style="padding: 0px 10px 10px;">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> by $User$ | <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> October 9 '15 | <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> $Category$
                        | <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 51256
                    </div>
                    <div class="btn-normal pull-right">READ MORE</div>
                    <!-- DIV SOLO PARA DAR ESPACIO --><div style="height: 25px;"></div> <!-- DIV SOLO PARA DAR ESPACIO -->
                </div>
            </div> <!-- ITEM DE BLOG -->
            <!-- ITEM DE BLOG -->
            <div class="blog">
                <img src="http://placehold.it/900x300" style="max-width: 100%; width: 100%;">
                <div class="well">
                    <h2 style="color: #262626; padding: 0px 10px 0px;">ITS A NEW GENERATION BLOG</h2>
                    <p style="padding: 0px 10px 0px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi....</p>
                    <div style="padding: 0px 10px 10px;">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> by $User$ | <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> October 9 '15 | <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> $Category$
                        | <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 51256
                    </div>
                    <div class="btn-normal pull-right">READ MORE</div>
                    <!-- DIV SOLO PARA DAR ESPACIO --><div style="height: 25px;"></div> <!-- DIV SOLO PARA DAR ESPACIO -->
                </div>
            </div> <!-- ITEM DE BLOG -->
        </div>


