<!-- Clientes -->
	<div class="container">
		<h3 class="text-center" style="font-size: 18px;"> CLIENTS </h3>
	
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
		<div class="item active">
		  <img src="{{asset('Resources/img/sponsors2.png')}}" alt="...">
		  <div class="carousel-caption">
		  </div>
		</div>
		<div class="item">
		  <img src="{{asset('Resources/img/sponsors.png')}}" alt="...">
		  <div class="carousel-caption">
		  </div>
		</div>
	  </div>
	</div>
	</div>