<!-- Landing Page de Index -->
	<div class="container-fluid heromain">
	  <p style="font-size: 90px; color: #262626;" class="hidden-xs hidden-sm"> LANDING PAGE </p>
	</div>

	<section class="cd-section">
	
	</section>