<!-- Mapa de Google -->
	<script type="text/javascript" src="{{asset('http://maps.google.com/maps/api/js?sensor=false')}}"></script>
	<div style="overflow:hidden; height:350px; width:100%;">
    <div id="gmap_canvas" style="height:350px;width:100%;">

    	<p class="text-center" style="z-index: 1000;">HELLOOOOOO</p>

    </div>
    
    <style>
        #gmap_canvas img {
            max-width: none!important;
            background: none!important
            zoom: none;
        }
    </style><a class="google-map-code" href="{{asset('http://www.themecircle.net')}}" id="get-map-data">themecircle</a>
	</div>