<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
	  <div data-sr='wait 0.1s, ease-in 50px'><p class="text-center" style="color: #262626; font-size: 18px; line-height: 1; margin-bottom: 10px;">PORTFOLIO</p></div>
	  <div style="border-top: 2px solid #09F; width: 50px; margin-left: auto; margin-right: auto;"></div>
	  <div data-sr='wait 0.1s, ease-in 50px'><h2 class="text-center" style="color: #B3B3B3; font-family: 'Open Sans', sans-serif; font-weight: 300; margin-top: 10px;">WE MAKE <strong style="color: #262626;">COOL</strong> STUFF</h2></div>
	  <div data-sr='wait 0.3s, ease-in 50px'><h4 class="text-center" style="color: #262626; font-family: 'Open Sans', sans-serif; font-weight: 400;">And we BRAG about it</h4></div>
	<div class="row">
	  <!-- COMIEZO DE ITEMS DE PORTAFOLIO -->
	  <!-- ITEM 1 -->
	  <div class="col-md-3">
		<div class="portfolio">
		  <img src="http://placehold.it/300x190" style="max-width: 100%;">
		  <p style="color: #262626; margin-top: 10px;"><strong>BEARD ATTITUDE</strong></p>
		  <p style="line-height: 0px; color: #B3B3B3;">WEB DESIGN</p>
		</div>
	  </div> <!-- ITEM 1 -->
	  <!-- ITEM 2 -->
	  <div class="col-md-3">
		<div class="portfolio">
		  <img src="http://placehold.it/300x190" style="max-width: 100%;">
		  <p style="color: #262626; margin-top: 10px;"><strong>LA PLUS BELLE</strong></p>
		  <p style="line-height: 0px; color: #B3B3B3;">WEB DESIGN</p>
		</div>
	  </div> <!-- ITEM 2 -->
	  <!-- ITEM 3 -->
	  <div class="col-md-3">
		<div class="portfolio">
		  <img src="http://placehold.it/300x190" style="max-width: 100%;">
		  <p style="color: #262626; margin-top: 10px;"><strong>SONODIGEST</strong></p>
		  <p style="line-height: 0px; color: #B3B3B3;">WEB DESIGN</p>
		</div>
	  </div> <!-- ITEM 3 -->
	  <!-- ITEM 45 -->
	  <div class="col-md-3">
		<div class="portfolio">
		  <img src="http://placehold.it/300x190" style="max-width: 100%;">
		  <p style="color: #262626; margin-top: 10px;"><strong>X ENTERTAINMENT</strong></p>
		  <p style="line-height: 0px; color: #B3B3B3;">WEB APPLICATION</p>
		</div>
	  </div> <!-- ITEM 4 -->
	  <!-- ITEM 5 -->
	  <div class="col-md-3">
		<div class="portfolio">
		  <img src="http://placehold.it/300x190" style="max-width: 100%;">
		  <p style="color: #262626; margin-top: 10px;"><strong>LAYDOUT INDUSTRIES</strong></p>
		  <p style="line-height: 0px; color: #B3B3B3;">BRANDING</p>
		</div>
	  </div> <!-- ITEM 5 -->
	  <!-- ITEM 6 -->
	  <div class="col-md-3">
		<div class="portfolio">
		  <img src="http://placehold.it/300x190" style="max-width: 100%;">
		  <p style="color: #262626; margin-top: 10px;"><strong>HUELLAS</strong></p>
		  <p style="line-height: 0px; color: #B3B3B3;">COMMUNICATIONS</p>
		</div>
	  </div> <!-- ITEM 6 -->
	  <!-- ITEM 7 -->
	  <div class="col-md-3">
		<div class="portfolio">
		  <img src="http://placehold.it/300x190" style="max-width: 100%;">
		  <p style="color: #262626; margin-top: 10px;"><strong>BEARD ATTITUDE</strong></p>
		  <p style="line-height: 0px; color: #B3B3B3;">PACKAGING</p>
		</div>
	  </div> <!-- ITEM 7 -->
	  <!-- ITEM 8 -->
	  <div class="col-md-3">
		<div class="portfolio">
		  <img src="http://placehold.it/300x190" style="max-width: 100%;">
		  <p style="color: #262626; margin-top: 10px;"><strong>HUELLAS</strong></p>
		  <p style="line-height: 0px; color: #B3B3B3;">BRANDING</p>
		</div>
	  </div> <!-- ITEM 8 -->	
	</div>
		<!-- Boton a mas portafolio -->
		<div class="text-center">
			<a href="#" style="text-decoration: none; color: #262626;"><p class="portfolio-btn text-center">See our full Portfolio</p></a>
		</div>
	</div>
	<!-- FIN DE PORTFALOLIO -->