<!-- Slider Principal -->
    <div class="slider hidden-xs hidden-sm">
      <div class="container">
      <!-- TYPER.JS -->
      <h2 class="text-right" style="color: #262626; margin-top: 20px;">
      We are <span class="element"></span>
      </h2>
      </div>
    </div>