<!-- Slider Principal Movil -->
    <div class="slider-mobile hidden-lg hidden-md">
      <div class="container">
      <!-- TYPER.JS -->
      <h4 class="text-right" style="color: #262626; margin-top: 0px;">
      We are <span class="element"></span>
      </h4>
      </div>
    </div>