<!-- Foto Principal Tamaño de 1980 x 700 px a 72DPI-->
	<!-- <div class="container-fluid" style="padding: 0 !important;">
	  <img src="recursos/img/index.png" style="width: 100%; max-width: 100%;">
	</div> -->
	<!-- Spacer de Banner y Navbar -->
	<div style="height: 70px;" class="hidden-xs hidden-sm"></div>
	<div style="height: 40px;" class="hidden-md hidden-lg"></div>