{% extends 'DgwebBundle:Panel:layoutpanel.html.twig' %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"><div class="text-center">asds</div></div>
            <div class="col-md-3"><div class="text-center"><a href="{{ path('admin_proyecto') }}">Gestion Proyectos</a></div></div>
            <div class="col-md-3"><div class="text-center"><a href="{{ path('admin_entrada') }}">Gestion Entradas</a></div></div>
            <div class="col-md-3"><div class="text-center">asds</div></div>
        </div>
    </div>
{% endblock %}